<!DOCTYPE html>
<html lang="en">
  <link rel="stylesheet" href="style.css" />
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
        <img class="image" src="static\css\densityguide.png" alt="Playing dice" class="dice" />
        <h1 class="title">scan2print</h1>
        <form id="file-form" method=post enctype=multipart/form-data>
            <input type=file name=file>
            <br>
            <input type=submit value="Upload, Process, Print">
        </form>
    </div>
    <script src="{{url_for('static', filename='index.js')}}"></script>
  </body>
</html>
